.bookingCard {
    background: #1f1f1f !important;
    color: white;
}

.ant-form-item-label > label {
    color: white;
}

.ant-radio-wrapper {
    margin-right: 0 !important;
}

.ant-radio-wrapper-checked {
    background-color: #444 !important;
}

.ant-input {
    background-color: #333;
    color: white;
    border: none;
}

.ant-input::placeholder {
    color: #999;
}

.ant-radio-wrapper span {
    color: white;
}

.ant-card-head-title {
    color: white !important;
}

.ant-card {
    overflow: hidden;
}

.ant-card-body img {
    transition: transform 0.3s ease;
}

.ant-card-body img:hover {
    transform: scale(1.05);
}
